<div class="stepper">
    <a href="/users">Home</a> /
    <a href="/users/{{userId}}">Profile</a> /
    <a href="/users/{{userId}}/games">Games</a> / New Game
</div>

<div class="card">

    <h2>Add A New Game:</h2>
    <div>
        <form action="/users/{{userId}}/games" method="POST">
            <div class="form-input">
                <label for="name">Game Name:</label>
                <input type="text" name="title" required>
            </div>
             <div class="form-input">
                <label for="address">Game Link:</label>
                <input type="text" name="gameLink">
            </div>
            <div class="form-input">
                <label for="photoUrl">Photo Url</label>
                <input type="text" name="photoUrl" />
            </div>
            <div class="game-link">
                Find your game link
                <a href="https://emulatoronline.com" target="_blank">here</a>
            </div>

            <div class="button-container flex-end">
                <input class="button primary" type="submit" value="Add Game">
                <a href="/users/{{user._id}}" class="button warning">Cancel</a>
            </div>
        </form>
    </div>
</div>